<% content_for :orientation do %>
    rivenditori<span class="orientsep"> -> </span> <%= link_to "tutti i rivenditori", retailers_all_path %>
<% end %>

<% content_for :rightcol do %>
<h1>Ecco tutti i nostri venditori</h1>
<ul>
  <% @all_retailers.each do |retailer| %>
      <li class="productelem">
        <%=link_to image_tag(retailer.photo_url, :alt => retailer.name, :width => 300), retailers_show_path(:id => retailer.id, :rall => 'true')%>
        <a class="productname" href="retailers/show/<%=retailer.id%>"><%=retailer.name%></a>
      </li>
  <% end %>
</ul>
<% end %>

<% content_for :leftcol do %>
<% end %>