<% content_for :rightcol do %>
    <h1>Insert a new Retailer into the database</h1>


    <%= form_for(@retailer) do |f| %>
        <% if @retailer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@retailer.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% @retailer.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :mail %> <br />
          <%= f.text_field :mail %>
        </div>
        <div class="field">
          <%= f.label :phone_number %> <br />
          <%= f.text_field :phone_number %>
        </div>
        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :address %>
        </div>
        <div class="field"><br>
          <%= f.label :region %>
          <%= f.select :region, ["sicilia", "lombardia", "piemonte", "marche", "molise", "basilicata", "calabria", "sardegna", "puglia", "campania", "trentinoaltoadige", "friuliveneziagiulia", "valledaosta", "emiliaromanga", "lazio", "liguria", "toscana", "veneto", "umbria","abruzzo"] %>
        </div><br>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to "Back to Admin page", pages_admin_path %>
    </div>
<% end %>