<% content_for :orientation do %>
    <%= link_to @retailer.name,  retailers_show_path(:id => @retailer.id, :ret => @retailer.region, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall)%><span class="orientsep"> -> </span><%= link_to "prodotti","" %>
<% end %>

<% content_for :rightcol do %>
<h1>Ecco tutti i prodotti di <%= @retailer.name %></h1>
<ul>
  <% @retailer.products.each do |product| %>
      <li class="productelem">
        <% if (product.pictures[0]) %>
            <%=link_to image_tag(product.pictures[0].url_image, :alt => product.name, :width => 300), products_show_path(:id => product.id, :ret => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall)%>
        <% else %>
            <%=link_to image_tag("productdefault.jpg", :alt => product.name, :width => 300), products_show_path(:id => product.id, :ret => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall)%>
        <% end %>
        <%=link_to product.name, products_show_path(:id => product.id, :ret => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall), :class => "productname" %>
      </li>
  <% end %>
</ul>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to retailers_show_path(:id => @retailer.id, :ret => @ret, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
          <%= image_tag("buttonbwd.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Torna a <%=@retailer.name%></span>
      <% end %>
    </div>
<% end %>