<% content_for :orientation do %>
        rivenditori<span class="orientsep"> -> </span><%= link_to @retailer.name, "" %>
<% end %>

<% content_for :rightcol do %>
    <h1><%=@retailer.name%></h1>
    <%= image_tag(@retailer.photo_url, :width => 300, :class => "retailerimg") %>
    <p class="justified"><%=@retailer.description%></p>
    <div class="row">
      <div class="arrowcontainer">
        <% if @path_left %>
            <%=link_to @path_left do%>
                <%= image_tag("arrowleft.png", :width => 60, :class => "leftarrowpage")%>
            <% end %>
        <% end %>
        <% if @path_up %>
            <%=link_to @path_up do%>
                <%= image_tag("arrowup.png", :width => 60, :class => "uparrowpage")%>
            <% end %>
        <% end %>
        <% if @path_right %>
            <%=link_to @path_right do%>
                <%= image_tag("arrowright.png", :width => 60, :class => "rightarrowpage")%>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<% content_for :leftcol do %>
    <%= link_to retailers_where_we_are_path(:id => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
        <div class="row">
          <%=image_tag("whereweareicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Dove siamo</span><span class="gray"><%=@retailer.name%></span>
        </div>
    <% end %>
    <%= link_to retailers_retailers_products_path(:id => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
    <div class="row">
      <%=image_tag("productsicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Prodotti</span><span class="gray"><%=@retailer.name%></span>
    </div>
    <% end %>
    <div class="row">
      <%=image_tag("eventsicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Eventi</span><span class="gray"><%=@retailer.name%></span>
    </div>
    <% if !@retailer.events[0] %> Nessun evento associato. <% else %>
        <ul class="eventlist">
          <% @retailer.events.each do |event| %>
              <%= link_to events_show_path(:id => event.id, :ret => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do%>
                  <li class="eventobject"><p><%=event.date%></p><p>@<%=event.name+","+event.place%></p></li>
              <% end %>
          <% end %>
        </ul>
    <% end %>
<% end %>

