<% content_for :orientation do %>
    <%= link_to @retailer.name, retailers_show_path(:id => @retailer.id) %> <span class"orientsep"> -> </span> <%= link_to "dove siamo", retailers_where_we_are_path(:id => @retailer.id) %>
<% end %>

<% content_for :rightcol do %>

    <h1>Dove Siamo</h1>
    <%= @retailer.address %>
    <input id="address" type="hidden" value="<%= @retailer.address %>">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        var geocoder;
        var map;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 16,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            codeAddress();
        }

        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map-canvas"></div>
    <div class="row">
      <div class="arrowcontainer">
        <% if @path_left %>
            <%=link_to @path_left do%>
                <%= image_tag("arrowleft.png", :width => 60, :class => "leftarrowpage")%>
            <% end %>
        <% end %>
        <% if @path_up %>
            <%=link_to @path_up do%>
                <%= image_tag("arrowup.png", :width => 60, :class => "uparrowpage")%>
            <% end %>
        <% end %>
        <% if @path_right %>
            <%=link_to @path_right do%>
                <%= image_tag("arrowright.png", :width => 60, :class => "rightarrowpage")%>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>


<% content_for :leftcol do %>
    <%= link_to retailers_show_path(:id => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat) do %>
        <div class="row">
          <%=image_tag("whoweareicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Chi siamo</span><span class="gray"><%=@retailer.name%></span>
        </div>
    <% end %>
    <%= link_to retailers_retailers_products_path(:id => @retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat) do %>
        <div class="row">
          <%=image_tag("productsicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Prodotti</span><span class="gray"><%=@retailer.name%></span>
        </div>
    <% end %>
    <div class="row">
      <%=image_tag("eventsicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Eventi</span><span class="gray"><%=@retailer.name%></span>
    </div>
    <ul class="eventlist">
      <% @retailer.events.each do |event| %>
          <%= link_to events_show_path(:id => event.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @retailer.id, :eve => @eve, :reg => @reg, :dat => @dat) do%>
              <li class="eventobject"><p><%=event.date%></p><p>@<%=event.name+","+event.place%></p></li>
          <% end %>
      <% end %>
    </ul>
<% end %>
