<% content_for :rightcol do %>
    <h1>Insert a new Event into the database</h1>


    <%= form_for(@event) do |f| %>
        <% if @event.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %><br />
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :date %> (dd-mm-yyyy)<br />
          <%= f.text_field :date %>
        </div>
        <div class="field">
          <%= f.label :time %> (hh:mm:ss)<br />
          <%= f.text_field :time %>
        </div>
        <div class="field">
          <%= f.label :address %><br />
          <%= f.text_field :place %>
        </div>
        <div class="field"><br>
          <%= f.label :region %>
          <%= f.select :region, ["sicilia", "lombardia", "piemonte", "marche", "molise", "basilicata", "calabria", "sardegna", "puglia", "campania", "trenitino", "friuli", "valledaosta", "emiliaromanga", "lazio", "liguria", "toscana", "veneto", "umbria","abruzzo"] %>
        </div><br>
        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to "Back to Admin page", pages_admin_path %>
    </div>
<% end %>