<% content_for :orientation do %>
<% end %>

<% content_for :rightcol do %>
    <h1>Designers</h1>
    <h3>Abbiamo il piacere di collaborare con designers di fama mondiale tra cui:</h3>

    <% @all_designers.each do |designer| %>
        <%=link_to designers_show_path(:id => designer.id, :pro => 0) do%> <div class="singledesigner"><%=image_tag(designer.photo_url, :width => 150, :height => 170, :class => "designerphoto")%>


  <span class="designername"><%=designer.name+" "+designer.lastname %></span></div><%end%>
    <% end %>
<% end %>

<% content_for :leftcol do %>
<% end %>