<% content_for :rightcol do %>
    <h1>Insert a New Designer into the database</h1>



    <%= form_for(@designer) do |f| %>
        <% if @designer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@designer.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% @designer.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :lastname %><br />
          <%= f.text_field :lastname %>
        </div>
        <div class="field">
          <%= f.label :biography %><br />
          <%= f.text_area :biography %>
        </div>
        <div class="field">
          <%= f.label :awards %><br />
          <%= f.text_area :awards %>
        </div><div class="actions">
             <%= f.submit %>
        </div>
    <% end %>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to "Back to Admin page", pages_admin_path %>
    </div>
<% end %>