<% content_for :orientation do %>
    <%= link_to "admin page", pages_admin_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Admin Page</h1>
    <ul>
      <li> <%= link_to "- Insert new designer", designers_new_path %> </li>
      <li> <%= link_to "- Insert new home product", products_new_home_path %> </li>
      <li> <%= link_to "- Insert new event", events_new_path %> </li>
      <li> <%= link_to "- Insert new retailer", retailers_new_path %> </li>
      <li> <%= link_to "- Insert new product-designer association", pages_new_product_designer_relation_path %> </li>
      <li> <%= link_to "- Insert new product-retailer association", pages_new_product_retailer_relation_path %> </li>
      <li> <%= link_to "- Insert new product-event association", pages_new_product_event_relation_path %> </li>
      <li> <%= link_to "- Insert new retailer-event association", pages_new_retailer_event_relation_path %> </li>
    </ul>

<% end %>