<% content_for :orientation do %>
    <%= link_to "contatti", pages_contact_us_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Contatti</h1>
    <h3>Per i clienti:</h3>
    <ul>
      <li> Telefono: 095 7551321</li>
      <li> Mail: infoclienti@compagniax.com</li>
      <li> Fax: 02 26683287</li>
    </ul>

    <h3>Per i rivenditori:</h3>
    <ul>
      <li> Telefono: 02 26681577</li>
      <li> Mail: inforivenditori@compagniax.com</li>
      <li> Fax: 02 26682539</li>
    </ul>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to pages_work_with_us_path do %>
          <%= image_tag("riconoscimenti.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Diventa Partner</span>
      <% end %>
    </div>
<% end %>