<!DOCTYPE html>
<html>
<head>
  <title>Xcompany <%= @title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="home">
<div id="hometop">
  <div class="linkcontainer">
    <div class="menuitem"><%= link_to "rivenditori", retailers_regions_path %></div>
    <div class="menuitem"><a id="prodotti" >Prodotti</a>
        <div class="prodottisubmenu submenu">
          <ul>
            <li><%= link_to "prodotti casa", products_all_home_path %></li>
            <li><%= link_to "prodotti ufficio", products_all_office_path %></li>
            <li><%= link_to "prodotti top", products_top_path %></li>
            <li><%= link_to "prodotti partners", products_by_partners_path %></li>
          </ul>
        </div>
      </div>
      <div class="menuitem">
      <%= link_to "Servizi", pages_services_path%>
      </div>
  </div>
</div>
<div id="homebottom">
    <%=link_to image_tag("xcompanylogostroked.png", :alt => "XCompanyLogo", :class => "headerlogo", :width => 300), pages_home_path%>
  <div class="bottomlinkcontainer">
    <div class="menuitem"><%= link_to "Designers", designers_all_path()%></div>
    <div class="menuitem"><a id="eventi">Eventi</a>
    <div class="eventisubmenu submenubottom">
      <ul>
        <li><%= link_to "eventi per data", events_by_date_path%></li>
        <li><%= link_to "eventi per zona", events_by_region_path %></li>
      </ul>
    </div>
    </div>
    <div class="menuitem"><%= link_to "Partners", pages_partners_path()%></div>
    <div class="menuitem"><%= link_to "Chi siamo", pages_who_we_are_path()%></div>
    <div class="menuitem"><%= link_to "Contatti", pages_contact_us_path()%></div>
  </div>
</div>
</div>
</body>
</html>
