<% content_for :rightcol do %>
    <h1>Associate a product with a retailer</h1>



    <%= form_tag({:controller => "pages", :action => "create_product_retailer_relation"}, :method => "post") do%>

        <div class="field">
            <%= label_tag(:product_label, "Product:") %>
            <%= select_tag "product", options_from_collection_for_select(@products, "id", "name") %>

            <%= label_tag(:retailer_label, "<--->  Retailer:") %>
            <%= select_tag "retailer", options_from_collection_for_select(@retailers, "id", "name") %>
        </div> <br>
        <div class="submit" style="text-align: center">
            <%= submit_tag("Submit") %>
        </div>
    <% end %>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to "Back to Admin page", pages_admin_path %>
    </div>
<% end %>