<% content_for :orientation do %>
    <a href="/pages/services">Servizi offerti</a>
<% end %>

<% content_for :rightcol do %>
    <h1>Servizi</h1>
    <h2>Servizi offerti ai clienti:</h2>

    <h3 class="servicesubtitle">Personalizzazione</h3>
    <p>Molti dei nostri prodotti possono essere modificati secondo le
       particolari esigenze dei nostri clienti, in particolare possono
       variare i colori e i materiali di realizzazione di alcuni inserti.
       Inoltre, data la struttur fortemente modulare di alcuni prodotti,
       è possibile adattarli alle forme e dimensioni dei luoghi in cui
       devono andare.
    </p>

    <h3 class="servicesubtitle">Design di interni</h3>
    <p>La compagnia mette a disposizione alcuni suoi architetti e designer
      di interni per aiutare i clienti a realizzare i trasformare in realtà i propri sogni,
      progettando ambienti confortevoli e pieni di stile
    </p>

    <h3 class="servicesubtitle">Assistenza</h3>
    <p>La compagnia mette a disposizione dei propri clienti, siano essi acquirenti o rivenditori,
      un insieme di servizi telefonici e telematici. Le soluzioni proposte, attraverso il
      telefono (ESPOC), attraverso internet (CEWSS) o tramite i Centri Autorizzati, offrono
      una serie di informazioni e di servizi per poter utilizzare al meglio e mantenere efficiente
      qualsiasi prodotto.
    </p>

    <h3 class="servicesubtitle">Riparazione</h3>
    <p>In caso di danni ai nostri prodotti coperti da garanzia, la compagnia si impegna alla
      completa riparazione (o sostituzione) facendosi completamente carico di tutte le eventuali
      spese di trasporto.
    </p>


<% end %>

<% content_for :leftcol do %>
<% end %>
