<% content_for :orientation do %>
    <a href="/pages/who_we_are">Chi siamo</a>
<% end %>

<% content_for :rightcol do %>
    <h1>Chi Siamo</h1>

    <p class="pageparagraph">XCompany è una compagnia dedita al miglioramento della qualità delle abitazioni
      sfruttando la forza e la bellezza proprie del design.</p>
    <p class="pageparagraph">I nostri prodotti e concept sono il risultato di un intenso processo di design,
    derivante dalla stretta collaborazione dei nostri eccellenti ingegneri con alcuni
    designers di fama mondiale. È nostro obiettivo creare interni, mobili ed accessori
    per ambienti che siano funzionali ma allo stesso tempo accattivanti ed in stile
    moderno. Prestiamo grande attenzione inoltre nella scelta dei materiali e dei processi
    di fabbricazione dei prodotti che esponiamo, in modo da garantire sempre
    la massima qualità per i nostri clienti di ieri, di oggi e di domani.</p>
    <p class="pageparagraph">Collaboriamo inoltre con alcune aziende di grande rilievo come <span class="blue">MOLTENI&C</span>,
      <span class="blue">CITTERIO</span>,<span class="blue">DADA</span> ed <span class="blue">UNIFOR</span>
    per dare ai nostri clienti una scelta ancora più ampia di prodotti per poter arredare i loro ambienti
    nel modo che più li aggrada.</p>
    <p class="pageparagraph">Partecipiamo inoltre ad eventi su tutto il territorio nazionale nei quali presentiamo
       ed esponiamo i nostri prodotti insieme a quelli dei nostri partners.</p>
    <p class="pageparagraph">Offriamo anche servii di PERSONALIZZAZIONE, CONSULENZA DI DESIGN DI INTERNI, ASSISTENZA
     PRE E POST VENDITA E RIPARAZIONE.</p>
    <p class="pageparagraph">SEDE LEGALE: Via Antonio Gramsci, 57 Comano (MI)</p>


<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to pages_where_we_are_path do %>
          <%= image_tag("whereweareicon.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Dove Siamo</span>
      <% end %>
    </div>
<% end %>
