/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.clearfix:after {
    content: “.”;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


html,body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin:0;
    height:100%;
    width:100%;
}

body a{
    text-decoration:none;
}

header{
    max-width: 1000px;
    margin:auto;
    background-color: #444f58;
    width:100%;
    height:110px;
    padding: 20px;
}

header img{
    float:left;
}

/************* TOPMENU **************/
nav{
    float:left;
    width:700px;
}

.topnav{
    margin:0;
    padding:0;
    list-style: none;
    margin-left:140px;
    margin-top:30px;
}

.topnav li{
    display:inline-block;
    margin-right:20px;
}

.topnav a{
    text-decoration:none;
    font-size:40px;
    color:aqua;
}

.bottomnav{
    margin:0;
    padding:0;
    list-style:none;
    margin-left:203px;
    margin-top:5px;
}

.bottomnav li{
    display:inline-block;
    margin-right:10px;
}

.bottomnav a{
    text-decoration:none;
    font-size:20px;
    color:#ffffff;
}

.bottomnav a:hover{
    border-bottom: 1px solid #ffffff;
}

.submenu{
    top: 110px;
    border-radius: 5px;
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
}

.submenubottom{
    top: 130px;
    border-radius: 5px;
    display: none;
    position: absolute;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #000;
}

.submenu ul,.submenubottom ul{
    margin:0;
    padding:0;
}

.submenu li,.submenubottom li{
    display:block;
}

.submenu a,.submenubottom a{
    color:blue;
    font-size:12px;
}
/************* TOPMENU END ****************/

#pagecontent{
    width: 1040px;
    margin: auto;
}

#leftcol{
    float:left;
    width: 250px;
    padding-left:20px;
    background-color: ;
    padding-top:20px;
}

#rightcol{
    float:left;
    width:730px;
    padding:20px;
    background-color: lightcyan;
    padding-top:20px;
    box-shadow: -5px 0px 10px -5px;
}

.servicesubtitle{
    color:#535353;
}

.pageparagraph{
    margin:10px 0;
}

.blue{
    color:blue;
}


/************* PAGES ****************/
#home{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#535353;
}

#hometop .linkcontainer{
    width: 1000px;
    margin: auto;
    text-align: center;
    margin-top:15%;
    margin-bottom:1%;
}

#hometop a{
    color:lightcyan;
    font-size:50px;
    margin-right:20px;
}

#homebottom{
    text-align:center;
    height:65%;
    background-color:lightcyan;
}

#homebottom img{
    margin-top:20px;
}

.bottomlinkcontainer{
    margin-top:1%;
}

.bottomlinkcontainer a{
    color:#000;
    font-size:25px;
    margin-right: 15px;
}

#home .submenu a{
    color:blue;
    font-size:20px;
}

#home .submenu a:hover{
    border-bottom: 1px solid blue;
}

#home .menuitem{
    display:inline-block;
}

#home .submenu{
    top:inherit;
    text-align: left;
}

#home .submenubottom{
    top:inherit;
    text-align: left;
}

#home .submenubottom a{
    color:blue;
    font-size:20px;
}

#home .submenubottom a:hover{
    border-bottom:1px solid blue;
}

.pageobject{
    margin-bottom:20px;
}

.pageobject img{
    border:5px solid #000;
}

.pageobject p{
    border-bottom:1px dotted #000;
}

.imgsubtitle{
    display:block;
    border-bottom:1px dotted #000;
}
/************* PAGES END ****************/

.enph{
    color:#535353;
    text-transform: capitalize;
}