// Place all the styles related to the Designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.singledesigner{
  text-align: center;
  margin: 20px 0 0 25px;
  width: 150px;
  float: left;
}

.singledesigner img{
  display:block;
}

.designerphoto{
  float: left;
  margin-right: 15px;
  border:10px solid #000;
}