// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********** EVENT SHOW **********/
.eventphoto{
  width:70%;
  margin:auto;
  display: block;
  border:10px solid #000;
}

.eventarrowcontainer{
  margin-left:85%;
}
/********** EVENT SHOW END **********/


.eventdate,.eventregion{
  color:#535353;
  font-size:22px;
  font-weight:bold;
}

.eventlist{
  margin-bottom:20px;
  border-bottom:1px dotted #000;
}

.eventlist a{
  font-size:20px;
  font-weight:bold;
}

.eventlist li{
  margin-bottom:5px;
}
