<% content_for :orientation do %>
    prodotti<span class="orientsep"> -> </span> <%= link_to "prodotti casa", products_all_home_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Prodotti Casa</h1>
    <div>
        <div class="pageobject">
          <%= link_to products_home_by_type_path(:category => "soggiorno") do %>
              <%= image_tag("soggiorno.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Soggiorno</span>
          <% end %>
        </div>
          <div class="pageobject">
            <%= link_to products_home_by_type_path(:category => "cucina") do %>
                <%= image_tag("cucina.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Cucina</span>
            <% end %>
          </div>
          <div class="pageobject">
            <%= link_to products_home_by_type_path(:category => "zonanotte") do %>
                <%= image_tag("zonanotte.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Zona Notte</span>
            <% end %>
          </div>
          <div class="pageobject">
            <%= link_to products_home_by_type_path(:category => "bagno") do %>
                <%= image_tag("bagno.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Bagno</span>
            <% end %>
          </div>
    </div>
<% end %>

<% content_for :leftcol do %>
<% end %>