<% content_for :orientation do %>
    prodotti<span class"orientsep"> -> </span> <%= link_to "prodotti ufficio", products_all_office_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Prodotti ufficio</h1>
    <div>
      <div class="pageobject">
        <%= link_to products_office_by_type_path(:category => "reception") do %>
            <%= image_tag("reception.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Reception</span>
        <% end %>
      </div>
      <div class="pageobject">
        <%= link_to products_office_by_type_path(:category => "direzionale") do %>
            <%= image_tag("direzionale.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Direzionale</span>
        <% end %>
      </div>
      <div class="pageobject">
        <%= link_to products_office_by_type_path(:category => "operativita") do %>
            <%= image_tag("operativita.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Operatività</span>
        <% end %>
      </div>
      <div class="pageobject">
        <%= link_to products_office_by_type_path(:category => "archiviazione") do %>
            <%= image_tag("archiviazione.jpg", :width => 290, :height => 210) %> <br><span class="imgsubtitle">Archiviazione</span>
        <% end %>
      </div>
    </div>
<% end %>

<% content_for :leftcol do %>
<% end %>