<% content_for :rightcol do %>
    <h1>Insert a new home Product into the database</h1>



    <%= form_for(@product) do |f| %>
        <% if @product.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@product.errors.count, "error") %> prohibited this post from being saved:</h2>

              <ul>
                <% @product.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <%= @product.name %>
                    <%= @product.partner %>
                    <%= @product.top %>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>
        <div class="field">
          <%= f.label :services %><br>
          <%= f.text_area :services %>
        </div>
        <div class="field"><br>
          <%= f.label :top %>
          <%= f.check_box :top %>
        </div>
        <div class="field"><br>
            <%= f.label :category %>
            <%= f.select :category, ["soggiorno", "bagno", "cucina", "zonanotte"] %>
        </div>
        <div class="actions"><br>
          <%= f.submit %>
        </div>
    <% end %>

<% end %>

<% content_for :leftcol do %>
  <div class="row">
    <%= link_to "Back to Admin page", pages_admin_path %>
  </div>
<% end %>