<% content_for :orientation do %>

        <%=link_to @product.name ,products_show_path(:id => @product.id, :pro => @pro, :des => @des, :hom => @product.category, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall)%> <span class="orientsep"> -> </span> <%= link_to "rivenditori", products_products_retailers_path(:hom => @product.category, :id => @product.id) %>

<% end %>

<% content_for :rightcol do %>
<h1>Puoi trovare <%= @product.name %> nei seguenti rivenditori:</h1>

<ul class="productretailerslist">
<% @product.retailers.each do |retailer| %>
<li><%= link_to retailers_show_path(:id => retailer.id, :pro => @product.id, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
      <%= image_tag(retailer.photo_url, :width => 200, :class => "retailerphoto")%> <span class="retailerername"><%=retailer.name+": "+retailer.region %></span>
  <% end %></li>
<% end %>
</ul>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to products_show_path(:id => @product.id, :pro => @pro, :des => @des, :hom => @product.category, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
          <%= image_tag("buttonbwd.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Torna a</span><span class="gray"><%=@product.name%></span>
      <% end %>
    </div>
<% end %>





