<!DOCTYPE html>
<html>
<head>
  <title>Xcompany <%= @title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%=link_to image_tag("xcompanylogo.png", :alt => "XCompanyLogo", :class => "headerlogo", :width => 300), pages_home_path%>
  <nav>
    <ul class="topnav">
      <li><%= link_to "rivenditori", retailers_regions_path %></li>
      <li><a id="prodotti" >prodotti</a>
        <div class="prodottisubmenu submenu">
          <ul>
            <li><%= link_to "prodotti casa", products_all_home_path %></li>
            <li><%= link_to "prodotti ufficio", products_all_office_path %></li>
            <li><%= link_to "prodotti top", products_top_path %></li>
            <li><%= link_to "prodotti partners", products_by_partners_path %></li>
          </ul>
        </div>
      </li>

      <li><%= link_to "servizi", pages_services_path %></li>
    </ul>
    <ul class="bottomnav">
      <li><%= link_to "designers", designers_all_path %></li>
      <li><a id="eventi">eventi</a>
      <div class="eventisubmenu submenubottom">
        <ul>
          <li><%= link_to "eventi per data", events_by_date_path%></li>
          <li><%= link_to "eventi per zona", events_by_region_path %></li>
        </ul>
      </div>
      </li>
      <li><%= link_to "partners", pages_partners_path %></li>
      <li><%= link_to "chi siamo", pages_who_we_are_path %></li>
      <li><%= link_to "contatti", pages_contact_us_path %></li>
    </ul>
  </nav>
</header>
<div id="pagecontent" class="clearfix">
  <div id="leftcol" class="clearfix">
    <%= yield :leftcol%>
  </div>
  <div id="rightcol" class="clearfix">
    <div id="breadcrumbs">
      <%= yield :orientation%>
    </div>
    <%= yield :rightcol%>
    <%= yield %>
  </div>
</div>
</body>
</html>
